In [7]:
import pandas as pd 
import numpy as np

In [30]:
Jobs = pd.read_csv('./emscad_v1.csv')

In [9]:
Jobs.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
0,Marketing Intern,"US, NY, New York",Marketing,NaN,"<h3>We're Food52, and we've created a groundbr...","<p>Food52, a fast-growing, James Beard Award-w...",<ul>\r\n<li>Experience with content management...,NaN,f,t,f,Other,Internship,NaN,NaN,Marketing,f,f
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"<h3>90 Seconds, the worlds Cloud Video Product...",<p>Organised - Focused - Vibrant - Awesome!<br...,<p><b>What we expect from you:</b></p>\r\n<p>Y...,<h3><b>What you will get from us</b></h3>\r\n<...,f,t,f,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,f,f
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,<h3></h3>\r\n<p>Valor Services provides Workfo...,"<p>Our client, located in Houston, is actively...",<ul>\r\n<li>Implement pre-commissioning and co...,NaN,f,t,f,NaN,NaN,NaN,NaN,NaN,f,f
3,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,<p>Our passion for improving quality of life t...,<p><b>THE COMPANY: ESRI – Environmental System...,<ul>\r\n<li>\r\n<b>EDUCATION: </b>Bachelor’s o...,<p>Our culture is anything but corporate—we ha...,f,t,f,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,f,f
4,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,<p>SpotSource Solutions LLC is a Global Human ...,<p><b>JOB TITLE:</b> Itemization Review Manage...,<p><b>QUALIFICATIONS:</b></p>\r\n<ul>\r\n<li>R...,<p>Full Benefits Offered</p>,f,t,t,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,f,f

In [10]:
Jobs[['description','fraudulent','location']]

,description,fraudulent,location
0,"<p>Food52, a fast-growing, James Beard Award-w...",f,"US, NY, New York"
1,<p>Organised - Focused - Vibrant - Awesome!<br...,f,"NZ, , Auckland"
2,"<p>Our client, located in Houston, is actively...",f,"US, IA, Wever"
3,<p><b>THE COMPANY: ESRI – Environmental System...,f,"US, DC, Washington"
4,<p><b>JOB TITLE:</b> Itemization Review Manage...,f,"US, FL, Fort Worth"
...,...,...,...
17875,<p>Just in case this is the first time you’ve ...,f,"CA, ON, Toronto"
17876,<p></p>\r\n<p>The Payroll Accountant will focu...,f,"US, PA, Philadelphia"
17877,<p>Experienced Project Cost Control Staff Engi...,f,"US, TX, Houston"
17878,<p>Nemsia Studios is looking for an experience...,f,"NG, LA, Lagos"
17879,<p><b>Who are we?</b></p>\r\n<p>Vend is an awa...,f,"NZ, N, Wellington"

In [11]:
import pandas as pd
import spacy
from transformers import pipeline

# Load spaCy English model
nlp_spacy = spacy.load("en_core_web_sm")

# Load BERT NER pipeline
nlp_bert_ner = pipeline("ner", model="dbmdz/bert-large-cased-finetuned-conll03-english")

Some weights of the model checkpoint at dbmdz/bert-large-cased-finetuned-conll03-english were not used when initializing BertForTokenClassification: ['bert.pooler.dense.weight', 'bert.pooler.dense.bias']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [22]:
# Function to perform spaCy NER
def spacy_ner(text):
    doc = nlp_spacy(text)
    entities = [(ent.text, ent.label_) for ent in doc.ents]
    return entities

def extract_geographical_areas(text):
    doc = nlp_spacy(text)
    return [ent.text for ent in doc.ents if ent.label_ == 'GPE']

In [23]:
# Function to extract entity labels using spaCy NER
def extract_entity_labels(text):
    doc = nlp_spacy(text)
    entities = {ent.label_: [] for ent in doc.ents}
    
    for ent in doc.ents:
        entities[ent.label_].append(ent.text)
    
    return entities

In [46]:
df = Jobs.sample(300,random_state=1)

In [47]:
# Apply the function to the 'jobs_description' column
df['spacy_ner_entities'] = df['description'].apply(extract_entity_labels)

# Create new columns for each entity label
for label in df['spacy_ner_entities'].iloc[0].keys():
    df[label] = df['spacy_ner_entities'].apply(lambda x: ', '.join(x[label]) if label in x else None)

# Drop the temporary 'spacy_ner_entities' column
df = df.drop(columns=['spacy_ner_entities'])

In [48]:
df.columns

Index(['title', 'location', 'department', 'salary_range', 'company_profile',
       'description', 'requirements', 'benefits', 'telecommuting',
       'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent', 'in_balanced_dataset', 'GPE', 'ORG', 'NORP', 'PERSON'],
      dtype='object')

In [49]:
df[['ORG','GPE','PERSON']].head()

,ORG,GPE,PERSON
5736,"NJ, Financial &, BA Process, QA Testing, Junio...",Piscataway,Visa Status
7106,None,None,"Gabriel Adkins, class=""external"">#URL_75db76d5..."
11978,"The SQL Server Database Developer, ETL, Report...","Us, Tableau, Java.<br><br><br></p","SQL Server Database, Barrington, Batch"
9374,"MarketInvoice, MarketInvoice, the British Busi...","UK, UK, London",internationally.</p
1300,None,None,None

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt